<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>03-08</title>
    <style>
        #list {
            width: 600px;
            border: 1px solid black;
            border-collapse: collapse;
        }

        #list td, #list th {
            border: 1px solid black;
            text-align: center;
        }

        #list > thead > tr {
            color: yellow;
            background-color: purple;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<template id="listTemplate">

</template>
<!-- 컴포넌트 생성 -->
<script type="text/javascript">
    Vue.component('contactlist-component',{
        template: '#listTemplate',
        props:['contacts']
    })
</script>
<body>
    <div id="example" v-cloak>
        <p>
            이름 : <input type="text" v-model="name" v-on:keyup.13="search" placeholder="두글자 이상을 입력하세요"/>
        </p>

        <div>
            <table id="list">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
                </thead>
                <tbody id="contacts">
                <tr v-for="contact in contactlist">
                    <td>{{contact.no}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-show="isProcessing === true">조회중</div>
    </div>

    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#example',
        data: {
            name: "",
            isProcessing: false,
            contactlist: []
        },
        /*
        Vue 객체 vm은 #example의 관찰자는 name속성의 변화를 감지하여 함수를 호출.
        */
        watch: {
            name: function (val) {
                if (val.length >= 2) {
                    this.fetchContacts();
                } else {
                    this.contactlist = [];
                }
            }
        },

        methods: {
            /*
            lodash : debounce - 일정 시간(300ms)이 지나도 호출이 없으면 실제 api 요청하도록.
            매번 타이핑 시 요청 하면 네트워크 트래픽 발생
            */
            search: function (e) {
                const val = e.target.value;
                if (val.length >= 2) {
                    this.fetchContacts();
                } else {
                    this.contactlist = [];
                }
            },
            fetchContacts: function () {
                this.contactlist = [];
                this.isProcessing = true;
                const url = "http://sample.bmaster.kro.kr/contacts_long/search/"
                    + this.name;
                const vm = this;

                fetch(url)
                    .then(function (response) {
                        return response.json()
                    }).then(function (json) {
                    vm.contactlist = json;
                    vm.isProcessing = false;
                }).catch(function (ex) {
                    console.log('parsing failed', ex);
                    vm.contactlist = [];
                    vm.isProcessing = false;
                })
            }
        }
    })
</script>
</body>
</html>