<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>02-14</title>
    <style>
        #list  { width: 400px; border:1px solid black; border-collapse:collapse; }
        #list td, #list th { border:1px solid black;  text-align:center; }
        #list > thead > tr { color:yellow; background-color: purple; }
    </style>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
<div id="exmaple">
    <p>
        국가명 : <input type="text"  v-model="countryName" placeholder="국가명을 입력하세요" @input="nameChanged" />
    </p>
    <table id="list">
        <thead>
        <tr>
            <th>번호</th><th>국가명</th><th>수도</th><th>지역</th>
        </tr>
        </thead>
        <tbody id="contacts">
            <tr v-for="c in filtered">
                <td>{{c.no}}</td>
                <td>{{c.name}}</td>
                <td>{{c.capital}}</td>
                <td>{{c.region}}</td>
            </tr>

        </tbody>
    </table>
</div>

<div id="example2">
    <input type="text" v-model="amount" /><br>
    금액: <span>{{ amount }}</span>
</div>
<br>
<div id="example3">
    <input type="text" v-model="num" /><br>
    1부터 입력된 수 까지의 합 : <span>{{sum()}}</span>
</div>
<br>
<div id="example4">
    x: <input type="text" v-model="x" /><br>
    y: <input type="text" v-model="y" />
    덧셈 결과: {{sum}}
</div>

<script type="text/javascript">
    const model = {
        countryName : "",
        countries : [
            { no:1,  name : "미국", capital : "워싱턴DC", region:"america" },
            { no:2,  name : "프랑스", capital : "파리", region:"europe" },
            { no:3,  name : "영국", capital : "런던", region:"europe" },
            { no:4,  name : "중국", capital : "베이징", region:"asia" },
            { no:5,  name : "태국", capital : "방콕", region:"asia" },
            { no:6,  name : "모로코", capital : "라바트", region:"africa" },
            { no:7,  name : "라오스", capital : "비엔티안", region:"asia" },
            { no:8,  name : "베트남", capital : "하노이", region:"asia" },
            { no:9,  name : "피지", capital : "수바", region:"oceania" },
            { no:10,  name : "솔로몬 제도", capital : "호니아라", region:"oceania" },
            { no:11,  name : "자메이카", capital : "킹스턴", region:"america" },
            { no:12,  name : "나미비아", capital : "빈트후크", region:"africa" },
            { no:13,  name : "동티모르", capital : "딜리", region:"asia" },
            { no:14,  name : "멕시코", capital : "멕시코시티", region:"america" },
            { no:15,  name : "베네수엘라", capital : "카라카스", region:"america" },
            { no:16,  name : "서사모아", capital : "아피아", region:"oceania" }
        ]
    }

    const exmaple = new Vue({
        el: "#exmaple",
        data:model,
        computed: {
            filtered: function() {
                const cname = this.countryName.trim();
                console.log(cname);
                return this.countries.filter( (item, index) => {

                    if(item.name.indexOf(cname) > -1){
                        return true
                    }
                })
            }
        },
        methods : {
            nameChanged: function(e){
                console.log(e.target.value);
                this.countryName = e.target.value;
            }
        }
    })

    const example2 = new Vue({
        el:"#example2",
        data: { amt: 1234567},
        computed: {
            amount : {
                get: function(){
                    let str = new String(""+ this.amt);
                    let result = "";
                    let num = 0;

                    for (let i = str.length -1; i>= 0 ; i--){
                        result = str[i] + result;
                        if(  num % 3 ==2 && i !== 0 ){
                            result = "," + result;
                        }
                        num++;
                    }
                    return result;
                },
                set: function(amt){
                    if( typeof(amt) === "string"){
                        /* regExp */
                        const result = parseInt(amt.replace(/,/g , ""))
                        if(isNaN(result)){
                            this.amt = 0;
                        }else{
                            this.amt = result;
                        }
                    }else if ( typeof(amt) === "number" ){
                        this.amt = amt;
                    }
                }
            }
        }
    })

    const newSum = new Vue({
        el : "#example3",
        data: { num : 0 },
        methods: {
            sum : function(){
                const n =  Number(this.num);
                if(Number.isNaN(n) || n < 1 ){
                    return "숫자나 1보다 큰 수를 입력!";
                }
                return ((n+1)*n/2);
            }
        }
    })

    // ajax 처리
    const vm = new Vue({
        el : '#example4',
        data:  { x:0, y:0, sum:0},
        watch : {
            x: function(param) {
                console.log('## x변경');
                const result = parseInt(param) + parseInt(this.y);
                if(isNaN(result)){
                    this.sum = 0;
                }else {
                    this.num = result;
                }
            },
            y: function(param) {
                console.log( '## y 변경');
                this.y = param;
                const result = parseInt(this.x) + parseInt(param);

                if(isNaN(result)){
                    this.sum = 0;
                }else {
                    this.num = result;
                }
            }
        }
    })
</script>
</body>
</html>